/*
 * Стили компонента ImageGallery
 */
.imageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.idle,
.pending,
.resolved,
.rejected {
  text-align: center;
}
