/*
 * Стили компонента App
 */
.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.loader {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.idle,
.pending,
.resolved,
.rejected {
  text-align: center;
}
